@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* animations */

@keyframes fade-in {
    from {color: #FD841F00;}
    to {color: #FD841F;}
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-color: #222831;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

hr {
    bottom: 1rem;
    width: 30%;
    border-top: 0.3rem solid #E7ECEF;
    border-style: solid none none;
}


.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    font-size: 2rem;
    height: 100vh;
}

.title-container div {
    font-size: 4rem;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 12px;
    background-color: #000000;
    width: 100%;
    position: fixed;
    top: 0px;
}

.nav-bar a {
    color: #E7ECEF;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
}

#home-nav:hover {
    color: #FD841F;
}

#work-experience-nav:hover {
    color: #E14D2A;
}

#projects-nav:hover {
    color: #9C2C77;
}
#education-nav:hover {
    color: #CD104D;
}

.nav-bar p {
    color: #E7ECEF;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: right;
    margin: auto 5rem;
    position: absolute;
    top: 0.5rem;
    right: 0;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #000000;
    width: 100%;
    bottom: 0px;
}

.footer-container {
    font-size: 1.25rem;
    display: inline-block;
    padding: 12px;
}

.facebook:hover {
    color: #4267B2;
}

.instagram:hover {
    color: #E1306C;
}

.twitter:hover {
    color: #1DA1F2;
}

.github:hover {
    color: #333;
}

.footer-container a {
    color: #E7ECEF;
    display: inline-block;
    text-decoration: none;
}

.item-container {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    width: 100%;
}

.item-container .item {
    padding: 32px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-container .item>.item-header {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
}

.item-container .item>.item-desc {
    font-size: 2rem;
}

.container {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 64px 32px;
}

.container-header {
    font-size: 4rem;
    font-weight: 900;
    color: white;
}

.item i {
    margin-left: 32px;
    color: #E7ECEF;
    font-size: 1.5rem;
}

.item i:hover {
    display: inline;
    color: #b7e5ff;
}

/* ids */

#education-container {
    background-color: #222831;
}

#education-container .item {
    background-color: #CD104D;
}

#projects-container {
    background-color: #222831;
}

#projects-container .item {
    background-color: #9C2C77;
    display: inline;
}

#work-experience-container {
    background-color: #222831;
}

#work-experience-container .item {
    background-color: #E14D2A;
}

#name-tag {
    color: #FD841F;
    display: inline;
    animation-name: fade-in;
    animation-duration: 4s;
}
